.app.dark {
    --bg-color: #01192e;
    --inverted-bg-color: #a8d1f6;
    --primary-color: #f6f5f5;
    --secondary-color: #989898;
    --inverted-primary-color: #0e0d0d;
    --inverted-secondary-color: #1c1a1a;
}
