@import "./reset";
@import "./variables";
@import "./light";
@import "./dark";

.app {
  background: var(--bg-color);
  color: var(--primary);
  font: var(--font-m);
  min-height: 100vh;
}

.content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
