@import "reset";
@import "variables";
@import "light";
@import "dark";

.app {
    font: var(--font-m);
    background: var(--bg);
    color: var(--text-primary);
    min-height: 100vh;
}

.content {
    display: flex;
}

.wrapper {
    flex-grow: 1;
    padding: 10px;
}
