@import "reset";
@import "variables";
@import "dark";
@import "light";

body {
  font: var(--font-medium);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
