@import "reset";
@import "variables";
@import "dark";
@import "light";

.app {
    font: var(--font-medium);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
