:root,
.app.light {
  --bg-color: #a8d1f6;
  --inverted-bg-color: #01192e;
  --primary-color: #0e0d0d;
  --secondary-color: #1c1a1a;
  --inverted-primary-color: #f6f5f5;
  --inverted-secondary-color: #989898;
}
