:root {
    --font-family: "Open-Sans", sans-serif;
    --font-line-height-m: 1.5rem;
    --font-line-height-l: 2rem;
    --font-line-height-xl: 2.5rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-m-size: 1rem; /* medium text */
    --font-l-size: 1.5rem; /* headings, larger text */
    --font-xl-size: 2rem; /* large text */
    --font-m: var(--font-weight-normal) var(--font-m-size) / var(--font-line-height-m) var(--font-family);
    --font-l: var(--font-weight-bold) var(--font-l-size) / var(--font-line-height-l) var(--font-family);
    --font-xl: var(--font-weight-bold) var(--font-xl-size) / var(--font-line-height-xl) var(--font-family);
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --modal-z-index: 10;
    --overlay-color: rgb(0 0 0 / 50%);
}
