:root {
    --font-family: open-sans, sans-serif;
    --font-size-medium: 16px;
    --font-size-large: 24px;
    --font-size-x-large: 32px;
    --font-height-medium: 24px;
    --font-height-large: 32px;
    --font-height-x-large: 40px;
    --font-medium: var(--font-size-medium) / var(--font-height-medium) var(--font-family);
    --font-large: var(--font-size-large) / var(--font-height-large) var(--font-family);
    --font-x-large: var(--font-size-x-large) / var(--font-height-x-large) var(--font-family);

    // heights
    --navbar-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
