.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.title {
  font: var(--font-large);
  color: vaR(--primary-color);
  margin-bottom: 16px;
}

.text {
  font: (--font-medium);
  color: var(--secondary-color);
}
