.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3;
  height: 100%;

  h1 {
    font: var(--font-l);
  }

  p {
    margin-top: 20px;
    margin-bottom: 15px;
    font: var(--font-m);
  }
}
