.appLink {
    color: var(--primary-color);
}

.primary {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}

.secondary {
    color: var(--inverted-secondary-color);
    background-color: var(--inverted-bg-color);
}
