.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.title {
    color: var(--text-primary);
    font: var(--font-l);
}

.description {
    color: var(--text-secondary);
    font: var(--font-m);
}
