:root {
  --font-family: "Open Sans", sans-serif;

  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-medium: var(--font-size-medium) / var(--font-line-medium)
    var(--font-family);

  --font-line-medium: 24px;
  --font-line-large: 32px;
  --font-large: var(--font-size-large) / var(--font-line-large)
    var(--font-family);

  --navbar-height: 80px;
}
