.app.dark {
  --background: #1f1f22; /* Dark gray for a dark theme background */
  --surface: #2a292d; /* Slightly lighter gray for surfaces */
  --primary: #ef4848; /* Same red for primary color */
  --secondary: #3b3a3f; /* Neutral gray for secondary elements */
  --onBackground: #f4f4f4; /* Light color for text on a dark background */
  --onSurface: #f4f4f4; /* Light color for text on surfaces */
  --onPrimary: #1f1f22; /* Dark text on the red primary color for contrast */
  --onSecondary: #ffffff; /* White text on the gray secondary color */
}