.button {
    cursor: pointer;
}

.primary {
    border: 1px solid var(--primary-color);
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
    padding: 8px 16px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 16px;
    background: none;
}
