.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;

  legend {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 20px;
  }
}
