.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 22px;
}

.links {
    margin-left: auto;
}

.homeLink {
    margin-right: 12px;
}
