.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--surface);
  font: var(--font-m);
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--text-primary);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 12px;
}