.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--background);
  display: flex;
  align-items: center;
  padding: 20px;

  a {
    text-decoration: inherit;
  }
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 1rem;
}
