@import "./styles/reset.scss";
@import "./styles/variables.scss";
@import "./styles/light.scss";
@import "./styles/dark.scss";

.app {
  background: var(--bg-color);
  color: var(--primary);
  font: var(--font-m);
  min-height: 100vh;
}
